*{margin: 0;padding: 0;}
ul,li{list-style:none;}
a{text-decoration:none;}
body {
    font-family: "微软雅黑","宋体",verdana,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
}
#bg_top{
    height: 80px;
    width: 100%;background: #fe887c;
}
#bg_top a{
    display:block;width: 1200px;height: 80px;margin:0 auto;
}
#bg_top img{display:block; width: 1200px;height: 80px; }

/*=============bg_top=============*/
#bg_wrap{ 
        width: 100%;
        height: 32px;
        border-bottom: 1px solid #dcdcdc;
        float: none;
        font-size: 12px; 
}
.bg_wrap_headtopline{ 
        padding-bottom: 2px;
        width: 1200px;
        margin:0 auto;
}
.bg_wrap_left{ 
        float: left; 
        color: #999; 
        font-size: 12px; 
        font-weight: normal; 
        line-height: 32px;
}
.bg_wrap_right{
        float: right; 
        font-size: 12px; 
        font-weight: normal; 
        line-height: 32px;
}
.bg_wrap_right ul li{float: left;
        padding:0 10px;}
.bg_wrap_right ul li a{color:#999;}
#Login:hover .bg_new_headtop_box {display:block;}

#mybt:hover .bg_new_headtop_box {display:block;}
#xiazai:hover .bg_new_headtop_box {display:block;}




.bg_new_headtop_box {
    display: none;
    position: absolute;
    width: 80px;
    height: auto;
    padding: 5px 10px 10px;
    border: 1px solid #B5B5B5;
    border-top:none;
    background-color: #fff;
    z-index: 5;
    top: 112px;
    webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.bg_new_headtop_box a {
    float: left;
    display: block;
    width: auto;
    clear: left;
    margin-top: 5px;
}
.bt_phone{width: 140px;
    }
/*.wxewm_box {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 5;
    display: none;
    top: 25px;
    }
.whact:hover .wxewm_box{display:block;}*/
/*================bg_wrap===============*/
#bg_headtop{
    width: 100%;
    display: block;
}
.bg_new_headtop{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
    padding: 0;
    float: none;
    display: block;
    padding-top: 5px;

}
.bg_new_headtop .logo_a{    
    width: 230px;
    height: 55px;
    float: left;
    }
.logo{
    width: 260px;
    margin-top: 5px;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}
.bg_new_headtop_fl, .bg_new_headtop_fr, .bg_new_headtop_mid {
    width: 360px;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}
.search{
    width: 750px;
    padding-top: 7px;
    height: 46px;
    /*background: #ccc;*/
}
.search_top{
    width: 378px;
    margin-top: 12px;
    height: 34px;
    /*background: red;*/
}
.bg_searchContent {
    width: 100%;
}
.bg_searchContent .bg_searchLeft {
    border: 1px #d51819 solid;
    width: 100%;
    height: 32px;
}
.bg_searchContent .bg_searchLeft .bg_inputText {
    width: 285px;
    height: 22px;
    margin-right: 8px;
    padding: 5px 0 5px 5px;
    float: left;
    border: none;
    display: block;
    color: #666;
    font-size:12px;
    line-height: 22px;
}
.bg_searchContent .bg_searchLeft .bg_iconSearch {
    padding: 0 12px;
    margin: 0;
    width: 56px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-family: "微软雅黑", "宋体", "verdana";
    font-size: 14px;
    color: #fff;
    background: #d51819;
    float: left;
    display: block;
    border: none;
    cursor: pointer;
}
.bg_search_c {
    float: right;
    width: 350px;
    margin-top: 20px;
    /*overflow: hidden;*/
    height: 15px;
    font-size:12px;
}
.bg_search_c li{
    float: left;
padding:0 10px;
border-right:1px solid #ccc;
}
.bg_search_c li:last-child{border:none;}
.bg_search_c .bg_search_cr{color:#D30A06;}
.bg_search_c li a{color:#666;}

.car{
    float: right;
    width: 150px;
    height: 55px;
    background: url(../images/jinglingtu.png) 0 -410px no-repeat;
}
.CartBag {
    width: auto;
    height: auto;
    margin-left: 15px;
    padding-left: 30px;
    float: left;
    display: block;
    }
.CartBag a {
    font: 400 14px "微软雅黑","宋体";
    color:#000;
    margin-top: 27px;
    float: left;}
.CartBag a b {
    font-weight: 400;
    color: #d93938;
}
/*===============nav=====================*/
#bg_nav{
    width: 100%;
    height: 38px;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 0 0px;
}
.nav{width: 1200px;
    height: 40px;
    margin: 0 auto;
position: relative;
}
.category_hover_wrap {
    background: #fff;
    position: absolute;
    z-index: 150;
    padding: 30px 0 30px;
    display: none;
    opacity: 0;
    min-height: 360px;
    box-sizing: border-box;
    margin-left: -18px;
    box-shadow: 0 0 5px #ccc;
    /*overflow: hidden;*/
    float: left;
}
.category_column {
    width: 110px;
    min-height: 300px;
    padding: 0 25px 0px;
    /*margin-bottom: -600px;*/
    box-sizing: border-box;
    border-right: 1px solid #f0f0f0;
    float: left;
}
.category_column dt {
    margin-bottom: 20px;
    float: none;
    text-align: center;
    margin-left: -25px;
    width: 110px;
}
.category_column dt a {
    font-size: 20px;
    color: #d22223;
}

.category_column a {
    display: block;
    font-size: 12px;
    color: #222;
    white-space: nowrap;
}




.nav_list{
    width: 540px;
    padding-right: 17px;
    height: 40px;
}
.nav_list li{float: left;}
.nav_list li .nav_list_a{
    display:block;
    color:#000;
    padding:0 15px;
}
.themeNavigate {
    position: absolute;
    right: 135px;
    top:-10px;
}
.themeNavigate .themeName{
    padding: 0 18px;
    float: left;
    opacity:1;
}
.nav_gif{
    position: absolute;
    top:-10px;
    right:0;
}
/*=========nav结束===================*/
.swiper-container {
    width:100%;
    }
    .swiper-container img{
        width: 100%;
}
/*============banner结束===========*/
#main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
}
.muban{
    width: 1200px;
    height: 332px;
}
.main .main_remen,.main .main_jingxuan{
    display:block;
    position: absolute;
    width: 1200px;
    height: 92px;
    top: 0px;
    left: 0px;
    opacity: 1;
}
#main_remen1{
    float: left;
    width: 400px;
    height: 240px;
    
    opacity: 1;
}
#main_remen1 img,
#main_jingxuan1 img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
}
#main_jingxuan1{
    float: left;
    width: 300px;
    height: 250px;
    
    opacity: 1;
}
/*.jrtm{
    position:relative;
}*/
.goods_box{
    position: relative;
    background: #fff;
    width: 230px;
    height: 325px;
    padding:0 3px;
    
}
.goods_img_box{
    width: 100%;
    height: 230px;
    position: relative;
}
.goods_img{
    position: absolute;
    width: 230px;
    height: 230px;
    left: 0px;
    top: 0px;
    display: block;
    opacity: 1;
}
.goods_box .name {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}
.goods_box .name .goodlist_discount {
    float: right;
    width: 40px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #f8584f;
    text-align: center;
    color: #f8584f;
    background: #fdedec;
    font-size:12px;
}
.goods_box .name .brand_name {
    display: block;
    font-size: 14px;
    color: #919191;
}
.goods_box span{
        width: 200px;
    height: 20px;
    display: block;
    overflow: hidden;
    margin-top: 5px;
}
.goods_box .name .goods_name {
    font-size: 14px;
    color: #222;
}
.goods_box .price {
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
}
.goods_box .price b {
    font-size: 14px;
    color: #f8584f;
    display: inline-block;
    margin-right: 5px;
    font-weight: 800;
}
.goods_box .price i {
    font-style: normal;
    font-size: 12px;
    color: #919191;
    text-decoration: line-through;
}


/*================main===============*/
.getActId {
    width: 100%;
}
.zyShare_wrap {
    width: 1200px;
    height: 240px;
    margin: 53px auto 0;
    position: relative;
    float: none;
    clear: both;
    background-color: #fff!important;
}
.zyShare_wrap .zyShare_Left{
    float: left;
}
.zyShare_wrap .zyShare_Left li {
    float: left;
    height: 238px;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
}
.zyShare_wrap .zyShare_Right {
    width: 359px;
    border: 1px solid #dcdcdc;
        float: left;
}
.zyShare_wrap .Contact_Top {
    width: 359px;
    height: 149px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}
.zyShare_wrap .Contact_Bottom {
    background-color: #fafafa;
}
.zyShare_wrap .Contact_Bottom li {
    display: block;
    float: left;
    width: 119px;
    height: 88px;
    text-align: center;
    background: url(../images/indexline.png) right center no-repeat;
}
.Contact_Bottom .nobg{border:none;}

.zyShare_wrap .Contact_Bottom li img {
    margin: 14px auto 8px;
}
.zyShare_wrap p {
    line-height: 16px;
    font-size: 12px;
    color: #999;
    font-style: normal;
}
.zyShare_wrap .Contact_Bottom p {
    font-weight: 700;
}
/*==============getActId结束=============*/
/*==============banner开始===============*/
.mbshop_bottomAllWidth {
    background: url(//s.banggo.com/pub7/images/mbshop/newImg/mbshop_bottom_guide.png?t=20160603) repeat-x;
    width: 100%!important;
    margin-top: 40px!important;
    background-color: #fff!important;
}
.mbshop_container {
    width: 1200px;
    float: none;
    margin: 0 auto;
}
.mbshop_bottom_guide, .mbshop_bottom_guideLine {
    overflow: hidden;
    width: 1200px;
    float: none;
    margin: 0 auto;
    padding-top: 11px;
}
.mbshop_bottom_guide dl {
    width: 200px;
    float: left;
}
.mbshop_bottom_guide dl dt {
    width: auto;
    clear: right;
    font: 700 14px "微软雅黑","黑体","微软雅黑","宋体",verdana;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #231815;
}
.mbshop_bottom_guide dl dd {
    width: 200px;
    padding-top: 13px;
}
.mbshop_bottom_guide dl dd a {
    font: 12px "微软雅黑","黑体","微软雅黑","宋体",verdana;
    color: #231815;
}
.mbshop_bottomCopyright {
    overflow: hidden;
    float: none;
    margin: 20px auto 0;
    width: 100%;
    padding: 20px 0 15px;
    border-top: 1px solid #999;
}
.mbshop_bottomCopyright p {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    float: none;
    display: block;
    font: 700 14px "微软雅黑","黑体","微软雅黑","宋体",verdana,verdana;
    color: #787878;
}
.mbshop_bottomCopyright span {
    padding-top: 15px;
    width: 264px;
    overflow: hidden;
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
}
.mbshop_bottomCopyright span a:first-child {
    float: left;
    display: block;
    margin-left: 0!important;
}
.mbshop_bottomCopyright span a {
    float: left;
    display: block;
    margin-left: 10px;
}
